<template>

    <section class="detailed-page">
        <div class="card-copang-info">
            <div class="product"><img :src="productImg" :alt="productName" /></div>
            <div class="explanation">
                <div class="name">상품명 : {{productName}}</div>
                <div class="price">가격 :{{productPrice}}</div>
                <div class="date">배송 예상일 : {{postDate}}</div>
                <div><nuxt-link :to="'vp/products/' + productId">자세히보기</nuxt-link></div>
            </div>
        </div>
    </section>
</template>

<script>
export default{
    props:{
            productId: {
                type: Number,
                required: true
            },
            productImg: {
                type: String,
                require: true
            },
            productName: {
                type: String,
                require: true
            },
                productPrice: {
                type: Number,
                require: true
            },
            postDate: {
                type: String,
                require: true
            }
    }
}
</script>
