<template>
    <div>
        <section class="header">
            <h1><img src="../static/images/copang_logo.png" alt="logo"></h1>
            <div class="searchWindow">
                <button type="button"></button>
            </div>
        </section>
        <div class="mainBanner"><img src="../static/images/sale.jpg" alt="폭탄 세일"></div>
        <section>
             <card-copang-info
                v-for="(item, index) in products"
                v-bind:key="index"
                v-bind:id="item.productId"
                v-bind:product-img="item.productImg"
                v-bind:product-name="item.productName"
                v-bind:product-price="item.productPrice"
                v-bind:post-date="item.postDate"
            />
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            products: [
                {
                    productId: 5,
                    productImg:'images/copang_product_1.jpg',
                    productName:'시계',
                    productPrice:10000,
                    postDate:'2023-12-5'
                },
                {
                    productId: 8,
                    productImg:'images/copang_product_2.jpg',
                    productName:'로션',
                    productPrice:20000,
                    postDate:'2023-12-5'
                },
                {
                    productId: 12,
                    productImg:'images/copang_product_3.jpg',
                    productName:'향수',
                    productPrice:30000,
                    postDate:'2023-12-5'
                },
                {
                    productId: 18,
                    productImg:'images/copang_product_4.jpg',
                    productName:'머플러',
                    productPrice:50000,
                    postDate:'2023-12-5'
                },
                {
                    productId: 25,
                    productImg:'images/copang_product_5.jpg',
                    productName:'가운',
                    productPrice:30000,
                    postDate:'2023-12-5'
                },
            ]
        }
    }
}
</script>
