<template>
    <div>{{productId}}</div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            productId: params.productId
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.productId)
    },
    data(){
        return{
            productId: null
        }
    }
}
</script>
